#coinscollected {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 10px;
    text-align: center;
    z-index: 100;
    display: block;
}

#coinscollected h1 {
    font-size: 23px;
    color: white;
    padding: 0px;
    margin: 0px;
    text-align: left;
}